<div id="floating-panel">
		<div class="filter">
		    <h3>Choose a Specialty</h3>
		    <div class="checkbox-grp">
		    	<div>
		    		<input type="checkbox" name="specialty" id="pizza" value="restaurant, pizza">
			    	<label for="pizza">Pizza</label>
		    	</div>
		    	<div>
		    		<input type="checkbox" name="specialty" id="pasta" value="restaurant, pasta">
			    	<label for="pasta">Pasta</label>
		    	</div>
		    	<div>
		    		<input type="checkbox" name="specialty" id="chicken" value="restaurant, chicken">
				<label for="chicken">Chicken</label>
		    	</div>
				<div>
					<input type="checkbox" name="specialty" id="pastry" value="restaurant, pastry">
					<label for="pastry">Pastry</label>
				</div>
				<div>
					<input type="checkbox" name="specialty" id="desserts" value="restaurant, desserts">
					<label for="desserts">Desserts</label>
				</div>
				<div>
					<input type="checkbox" name="specialty" id="coffee" value="restaurant, coffee">
					<label for="coffee">Coffee</label>
				</div>
				<div>
					<input type="checkbox" name="specialty" id="japanese" value="restaurant, japanese">
					<label for="japanese">Japanese</label>
				</div>
				<div>
					<input type="checkbox" name="specialty" id="korean" value="restaurant, korean">
					<label for="korean">Korean</label>
				</div>
		    </div>
		</div>
    </div>
	<div class="load-msg loader hidden"></div>
    <div id="details-panel" class="hidden"></div>